// responsiveness
@grid-xs-max: 575px;
@grid-sm-max: 767px;
@grid-md-max: 991px;
@grid-lg-max: 1199px;
@grid-sm-min: @grid-xs-max + 1px;
@grid-md-min: @grid-sm-max + 1px;
@grid-lg-min: @grid-md-max + 1px;
@grid-xl-min: @grid-lg-max + 1px;

// colour theme
@emulator-black: #000000;
@emulator-white: #d8d8d8;
@emulator-green: #67F86F;
@emulator-blue: #6A76FB;
@emulator-red: #FD6F6B;
@emulator-yellow: #FFFA72;
@emulator-magenta: #FD7CFC;
@emulator-cyan: #68FDFE;
@emulator-purple: rgba(248, 28, 229, 0.8);
@emulator-cursor-accent: @emulator-black;

// font sizing
@emulator-font-size-xs: 22px;
@emulator-font-size-sm: 23px;
@emulator-font-size-md: 25px;
@emulator-font-size-lg: 28px;
@emulator-font-size-xl: 30px;
